header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(233, 233, 20);
  align-items: center;
  padding: 0% 5%;
  overflow: hidden;
}
.logo-container {
  padding: 5vh;
  background-image: url("../assets//dog_logo.png");
  background-size: cover;
  background-position: center;
}

header ul {
  list-style: none;
  display: flex;

  width: 30%;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: rgb(44, 44, 177);
  font-weight: bold;
  transition: 800ms;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 5%;
}
header a:hover {
  border: none;
  color: white;
  background-color: rgb(44, 44, 177);
}
