.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
  gap: 5vh;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  gap: 2vh;
}
.fields {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.fields label {
  padding-bottom: 1%;
  font-size: 1.2rem;
  width: 40vw;
}
.fields input {
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  padding: 1%;
}
.btn-register {
  background-color: #00c851;
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
  width: 80%;
  border-radius: 2rem;
  font-weight: bold;
  cursor: pointer;
}
small {
  text-align: start;
  color: red;
  font-size: 0.8rem;
  margin-left: 2%;
  padding: 1% 0%;
}
.btn-login {
  background-color: #00c851;
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
  width: 80%;
  border-radius: 2rem;
  font-weight: bold;
  cursor: pointer;
}
.img-pet-preview {
  width: 20%;
  height: 10vh;
  border: solid;
}


.img-pet-preview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
