.nenhum-animal-adotar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.nenhum-animal-adotar a {
  color: red;
  font-weight: bold;
}
.my-pets-page {
  width: 100%;
  text-align: center;
  min-height: 70vh;
}
.my-pets-page h3 {
  padding-top: 4rem;
  color: red;
}
.all-my-pets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
.my-pets-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.img-pet {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.pets-btn-container {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.btn-edit {
  background-color: dodgerblue;
  color: white;
  border-radius: 1rem;
  font-weight: bold;
  padding: 0.7rem 2rem;
  border: none;
  cursor: pointer;
}
.btn-edit a {
  text-decoration: none;
  color: white;
}
.btn-delete {
  background-color: crimson;
  color: white;
  border-radius: 1rem;
  font-weight: bold;
  padding: 0.7rem 2rem;
  border: none;
  cursor: pointer;
}
.btn-add-pet{
  background-color: #00c851;
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
  width: 80%;
  border-radius: 2rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
