.unique-pet-content {
  min-height: 70vh;
  width: 100%;
}
.unique-pet-card {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}
p {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.img-unique-pet {
  width: 40vw;
  border-radius: 2rem;
  margin-bottom: 5rem;
}
.open-more-info {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.btn-chevron {
  background-color: transparent;
  border: none;
  background-image: url("./arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.8rem;
  cursor: pointer;
}

